build/
managed_components/
._*
*.old
sdkconfig.old
dependencies.lock
.vscode/
.idea/
main/APP/qweather_jwt_secret.h
qweather-ed25519-private.pem
qweather-ed25519-public.pem

my_serial_log.txt
read_serial*.py
*.log
